<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CarChain</title>

<!--	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>>-->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>



	<div class="text-center mb-3">
		<h1 class="h3 mb-3 font-weight-normal">CarChain</h1>
	</div>
	<div class="container">

		<form action = "/search" method="post">
			<div class="row align-items-center" style="min-height: calc(100vh - 66px);">
				<div class="col-lg-6 mx-auto">
					<div class="input-group">
						<input type="text" class="form-control" name = "licensePlate" placeholder="Procure pela placa do carro">
						<span class="input-group-btn">
							<button class="btn btn-secondary" type="submit">Go!</button>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>	
	<script type="text/javascript">

	</script>
</body>
</html>
